.map {
	height: 100vh;
	width: 100%;
	//position: relative;
	//z-index: -1;
}
#status {
	font-size: 2rem;
	display: none;
  /* position: fixed; */
  /* top: 80px; */
  /* left: 0; */
  /* width: 200px; */
  /* height: 100px; */
  /* border: 3px solid #73AD21;	 */
}

#tooltip {
	font-size: 2rem;
	border: 1px solid $color-pri;
	padding: 1rem;
	background-color: white;	
}

.town {
	&-title {
		font-size: 2rem;
		background-color: lightgray;
		margin-bottom: 8px;
	}
	&-subt {
		font-size: 1.5rem;
		font-weight: bold;
	}
	&-value {
		font-size: 1.5rem;
	}
}

#title {
	font-size: 2rem;
	background-color: white;
	border: 1px solid $color-pri;
	border-radius: 2rem;
	margin-top: 8rem;
	margin-left: 1rem;
	padding: 8px;
	width: 20%;
}



